<html lang="en">
<head>
  <title>Hello RePlay</title>
  <link rel="shortcut icon" href="/img/favicon.png">
</head>
<body>
<h1>Hello, ${who}!</h1>
<img id="img1" src="/img/banksy-kyiv-1.jpeg" width="300"/>
<img id="img2" src="/img/banksy-kyiv-2.jpeg" width="300"/>
<img id="img3" src="/img/banksy-kyiv-3.jpeg" width="300"/>
<img id="img4" src="/img/benks-kyiv-4.jpeg" width="300"/>
<img id="img5" src="/img/banksy-kyiv-5.jpeg" width="300"/>
<img id="img6" src="/img/banksy-kyiv-6.jpeg" width="300"/>
<img id="img7" src="/img/banksy-kyiv-7.jpeg" width="300"/>

<label for="role">Choose your role</label>
<select id="role" size="2" style="width: 400px; height: 200px;">
  <option value="user">User</option>
  <option value="admin">Admin</option>
</select>

<label for="car">Choose your car</label>
<select id="car">
  <optgroup label="Japanese">
    <option value="toyota">Toyota</option>
    <option value="subaru">Subaru</option>
  </optgroup>
  <optgroup label="German">
    <option value="volkswagen">Volkswagen</option>
    <option value="audi">Audi</option>
  </optgroup>
</select>

</body>
</html>
