version: 2
updates:
- package-ecosystem: gradle
  directory: "/"
  schedule:
    interval: daily
  open-pull-requests-limit: 20
  ignore:
    - dependency-name: org.apache.poi:poi
    - dependency-name: org.apache.poi:poi-ooxml
    - dependency-name: org.apache.poi:poi-ooxml-schemas
    - dependency-name: org.eclipse.jdt:ecj
      versions:
        - ">=3.34.0"
    - dependency-name: jakarta.persistence:jakarta.persistence-api
      update-types: ["version-update:semver-minor"]
    - dependency-name: org.hibernate:hibernate-core
      update-types: ["version-update:semver-major"]
    - dependency-name: org.hibernate:hibernate-jcache
      update-types: ["version-update:semver-major"]

- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: daily
  open-pull-requests-limit: 20
