out
bin
.gradle
framework/lib
framework/lib-test
framework/classes
framework/test-classes
framework/out
framework/.idea
framework/play.jar
.DS_Store
nbproject/genfiles.properties
nbproject/jdk.xml
nbproject/nbjdk.properties
nbproject/nbjdk.xml
nbproject/private
framework/tests-results
framework/src/version
framework/src/play/version
framework/src/play/version
framework/src/play/version
framework/tests/test-application/db
framework/play-*.jar
framework/docs

# IDE and editors
*~
.idea
nbproject
eclipse
.amateras

.settings
.classpath
.project
id
framework/tests-tmp
framework/docs
dist
resources/catalog.xml
resources/nbproject/private
catalog.xml
play-*.jar
tmp
test-result
logs
db
*.pyc
.git
./.settings
framework/ecClasses
documentation/api
support/textmate
*.ser
help
*.iml
*.ipr
*.iws
play.ipr
play.iws
*iml
atlassian-ide-plugin.xml
build.classes
nbproject
!framework/src/play/db
!framework/test-src/play/db
*~
