name: Build
on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-on-windows:
    runs-on: windows-latest
    strategy:
      matrix:
        server: ['javanet', 'netty3']
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          cache: 'gradle'
          java-version: '17'
      - uses: gradle/actions/setup-gradle@v5
      - name: Run unit-tests
        run: .\gradlew.bat clean
      - name: Run integration tests on ${{ matrix.server }}
        run: .\gradlew.bat "-Dselenide.headless=true" uitest-${{ matrix.server }} --info --rerun-tasks
      - uses: actions/upload-artifact@v5
        if: failure()
        with:
          name: replay-windows-uitest-${{ matrix.server }}
          path: |
            **/build/reports
            **/build/test-results
            **/precompiled
            **/tmp
